<h1 class="title"><%= title %></h1>

<h2>Description</h2>
<p><%= game.description %></p>

<% if (locals.game.category.length > 0) { %>
  <h2><%= locals.game.category.length > 1 ? 'Categories' : 'Category' %></h2>
  <ul>
    <% locals.game.category.forEach(category => { %>
      <a href="<%= category.url %>">
        <li><%= category.name %></li>
      </a>
    <% }) %>
  </ul>
<% } %>

<h2>Price (new)</h2>
<p>$<%= game.price %></p>

<% if (locals.game_instances.length > 0) { %>
  <h2>Used copies available (<%= game.qty %>)</h2>
  <ul>
    <% locals.game_instances.forEach((instance, index) => { %> 
      <a href="<%= instance.url %>">
        <li>
          (<%= index + 1 %>) 
          <%= instance.condition %>
          <%= instance.price %>
          <%= instance.language %>
        </li>
      </a>
    <% }) %>
  </ul>
<% } %>

