<h1 class="title"><%= title %></h1>

<form action="" method="POST" enctype="multipart/form-data">
  <input 
    type="file" 
    name="image" 
    class="form-input"
    value="<%= locals.game ? game.image : '' %>"
  >
  <label for="name">Name:</label>
  <input 
    type="text"
    id="name"
    name="name"
    class="form-input"
    placeholder="Game name"
    value="<%= locals.game ? game.name : '' %>"
  >

  <label for="description">Description</label>
  <textarea 
    type="text"
    id="description"
    name="description"
    class="form-input"
    placeholder="Game description"
    value="<%= locals.game ? game.description : '' %>"
  ><%= locals.game ? game.description : '' %></textarea>


  <label for="category">Category</label>
  <select 
    name="category" 
    id="category"
    class="form-input"
    type="select"
    placeholder="Select category"
    required="true"  
  >
    <% category_list.sort(function (a, b) { %>
      <% let textA = a.name.toUpperCase(); %>
      <% let textB = b.name.toUpperCase(); %>
      <% return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; %>
    <% }); %>

    <% category_list.forEach(category => { %>
      <% if (locals.game) { %>
        <option 
          value="<%= category._id %>"
        >
          <%= category.name %>
        </option>
      <% } else { %>
        <option value="<%= category._id %>">
          <%= category.name %>
        </option>
      <% } %>
    <% }) %>
  </select>

  <label for="price">Price</label>
  <input 
    type="number" 
    min="1"
    max="500"
    id="price"
    name="price"
    value="<%= locals.game ? game.price : '1' %>"
  >

  <label for="qty">Quantity</label>
  <input 
    type="number"
    min="0"
    max="100"
    id="qty"
    name="qty"
    value="<%= locals.game ? game.qty : '0' %>"
  >

  <button class="form-submit" type="submit">Submit</button>
</form>

<% if (locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>