<h1 class="title"><%= title %></h1>
<% if (game.image !== 'false') { %>
  <img src=<%= game.image %>>
<% } %>
<h2>Description</h2>
<p><%= game.description %></p>

<h2>Category</h2>
<a href="<%= game.category.url %>">
  <p><%= game.category.name %></p>
</a>

<h2>Price (new)</h2>
<p>$<%= game.price %></p>

<% if (locals.game_instances.length > 0) { %>
  <h2>Used copies available (<%= game.qty %>)</h2>
  <ul>
    <% locals.game_instances.forEach((instance, index) => { %> 
      <a href="<%= instance.url %>">
        <li>
          (<%= index + 1 %>) 
          <%= instance.condition %>
          <%= instance.price %>
          <%= instance.language %>
        </li>
      </a>
    <% }) %>
  </ul>
<% } %>

<p>
  <a href="<%= `${game.url}/delete` %>">Delete</a>
  <a href="<%= `${game.url}/update` %>">Update</a>
</p>

