<h1 class="title"><%= title %></h1>

<form action="" method="POST">
  <label for="game">Game</label>
  <select name="game" id="game" class="form-input">
    <% game_list.forEach(game => { %>
      <% if (locals.gameinstance) { %>
        <option 
          value="<%= game._id %>"
          <%= (gameinstance.game.toString() === game._id.toString() || gameinstance.game._id === game._id.toString()) ? "selected" : false %>
        >
          <%= game.name %>
        </option>
      <% }  else { %>
        <option value="<%= game._id %>">
          <%= game.name %>
        </option>
      <% } %>
    <% }) %>
  </select>

  <label for="language">Language</label>
  <input 
    type="text"
    id="language"
    name="language"
    class="form-input"
    placeholder="English, French, German, etc."
    value="<%= locals.gameinstance ? gameinstance.language : '' %>" 
  >

  <label for="condition">Condition</label>
  <select 
    name="condition"  
    id="condition"
    class="form-input"
    placeholder="Select condition"
    type="select"
    required="true"
  >
    <option 
      value="New"      
      <%= locals.gameinstance ? (gameinstance.condition === 'New' ? "selected" : false) : false %> 
    >New</option>
    <option 
      value="Excellent"
      <%= locals.gameinstance ? (gameinstance.condition === 'Excellent' ? "selected" : false) : false %> 
    >Excellent</option>
    <option 
      value="Good"
      <%= locals.gameinstance ? (gameinstance.condition === 'Good' ? "selected" : false) : false %> 
    >Good</option>
    <option 
      value="Fair"
      <%= locals.gameinstance ? (gameinstance.condition === 'Fair' ? "selected" : false) : false %> 
    >Fair</option>
    <option 
      value="Poor"
      <%= locals.gameinstance ? (gameinstance.condition === 'Poor' ? "selected" : false) : false %> 
    >Poor</option>
  </select>

  <label for="price">Price</label>
  <input 
    type="number"
    id="price"
    name="price"
    class="form-input"
    placeholder="1"
    min="1"
    max="500"
    value="<%= locals.gameinstance ? gameinstance.price : '' %>"
  >
  <button class="form-submit">Submit</button>
</form>

<% if (locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>    
    <% }) %>
  </ul>
<% } %>